<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">

<link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/icon.svg') }}" />

<link rel="preconnect" href="https://fonts.gstatic.com">

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}" />
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base' + infix + '.css') }}" />