
<template id="status-template">
    <span class="dot dot-warning state-pending d-none">Working</span>
    <span class="dot dot-danger state-failure d-none">Failure</span>
    <span class="dot dot-success state-ready d-none">Ready</span>
</template>

<template id="download-template">
    <div class="actions-container d-flex align-items-center">
        <a href="#" class="download-link text-decoration-none h5 mb-0" title="Download">
            <i class="bi bi-download"></i>
        </a>
    </div>
</template>
